<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ChannelMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into channel(
			c_name,	
			c_parent_channel_id,	
			c_type,	
			c_isweb,	
			c_isapp,	
			c_weight,	
			c_isurl,	
			c_url,	
			c_describe,	
			c_create_datetime
		) values (
			#{c_name},	
			#{c_parent_channel_id},	
			#{c_type},	
			#{c_isweb},	
			#{c_isapp},	
			#{c_weight},	
			#{c_isurl},	
			#{c_url},	
			#{c_describe},	
			now()
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from channel
		where 
			channel_id = #{channel_id}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  channel
		set 
			c_name = #{c_name},
			c_parent_channel_id = #{c_parent_channel_id},
			c_type = #{c_type},
			c_isweb = #{c_isweb},
			c_isapp = #{c_isapp},
			c_weight = #{c_weight},
			c_isurl = #{c_isurl},
			c_url = #{c_url},
			c_describe = #{c_describe},
		channel_id = channel_id
		where 
			channel_id = #{channel_id}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select
				*
		from 
				channel a left join channel b on a.c_parent_channel_id=b.channel_id
		where 
				a.channel_id = #{channel_id}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		<!-- select
				a.*,	
				c.c_name parent_c_name,	
				count(b.news_id) newsnum
		from 
				channel a left join news b on a.channel_id=b.channel_id
				left join channel c on a.c_parent_channel_id=c.channel_id
				group by a.channel_id
				ORDER BY a.c_weight desc -->
		select
				a.channel_id,
				a.c_parent_channel_id,
				a.c_name,
				a.c_weight,
				a.c_describe,
				a.c_isapp,
				a.c_isweb,
				a.c_isurl,
				a.c_url,
				a.c_create_datetime,
				count(b.news_id) newsnum
		from 
				channel a left join news b on a.channel_id=b.channel_id
				
		where 
				a.c_parent_channel_id = #{pd.c_parent_channel_id}
		group by 
				a.channel_id
				ORDER BY a.c_weight desc
		
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				channel_id,
				c_name
		from 
				channel
		where   	
				1 =1
			<if test="c_type!=null">
				and c_type=#{c_type}
			</if>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from channel
		where 
			channel_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>