<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ContestantMapper">
	
	<!-- 列表 -->
	<!-- <select id="linklistPage" parameterType="page" resultType="pd">
		select 
				*
		from sys_link 
		where
			1 = 1
		<if test="pd.stiename!= null and pd.stiename != ''">网站名称检索
			and stiename like CONCAT(CONCAT('%', #{pd.stiename}),'%') 
		</if>
		<if test="pd.status != null and pd.status != ''">状态检索
			and status=#{pd.status} 
		</if>
		order by sequence desc
	</select> -->
	
	<!-- 新增 -->
	<insert id="save" parameterType="pd">
		insert into activity_contestant (
			activity_id,
			ac_name,
			ac_poll,
			ac_introduce,
			ac_original_img_name,
			ac_original_img_width,
			ac_original_img_height,
			ac_original_img_size,
			ac_create_datetime,
			ac_weight,
			ac_cut_img_x1,
			ac_cut_img_y1,
			ac_cut_img_x2,
			ac_cut_img_y2,
			ac_cut_img_width,
			ac_cut_img_height,
			ac_operating_user
		) values (
			#{activity_id},
			#{ac_name},
			#{ac_poll},
			#{ac_introduce},
			#{ac_original_img_name},
			#{ac_original_img_width},
			#{ac_original_img_height},
			#{ac_original_img_size},
			#{ac_create_datetime},
			#{ac_weight},
			#{ac_cut_img_x1},
			#{ac_cut_img_y1},
			#{ac_cut_img_x2},
			#{ac_cut_img_y2},
			#{ac_cut_img_width},
			#{ac_cut_img_height},
			#{ac_operating_user}
		)
	</insert> 
	
	<!-- 更新 -->
	<insert id="edit" parameterType="pd">
		update  activity_contestant
			set 
				ac_name = #{ac_name},
				ac_poll = #{ac_poll},
				ac_introduce = #{ac_introduce},
				ac_original_img_name = #{ac_original_img_name},
				ac_original_img_width = #{ac_original_img_width},
				ac_original_img_height = #{ac_original_img_height},
				ac_original_img_size = #{ac_original_img_size},
				ac_weight = #{ac_weight},
				ac_cut_img_x1 = #{ac_cut_img_x1},
				ac_cut_img_y1 = #{ac_cut_img_y1},
				ac_cut_img_x2 = #{ac_cut_img_x2},
				ac_cut_img_y2 = #{ac_cut_img_y2},
				ac_cut_img_width = #{ac_cut_img_width},
				ac_cut_img_height = #{ac_cut_img_height},
				ac_operating_user = #{ac_operating_user}
			where 
				activity_contestant_id = #{activity_contestant_id}
	</insert> 
	
	
	<!-- 通过id获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			*
		from 
			activity_contestant
		where 
			activity_contestant_id = #{id}
	</select>
	 <!-- 列表(全部) -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				*
		from 
				activity_contestant
		where 
				activity_id = #{pd.activity_id}  and ac_isdelete = 1
		<if test="pd.ac_name != null">
			and ac_name LIKE CONCAT(CONCAT('%', #{pd.ac_name}),'%')
		</if>
		 order by ac_weight desc
	</select>
	<!-- 修改 -->
	<!-- <update id="edit" parameterType="pd">
		update  sys_link
			set stiename		= #{stiename},
				sitecontent		= #{sitecontent},
				type 			= #{type},
				stieurl			= #{stieurl},
				uptime 			= #{uptime},
				status	 		= #{status},
				sequence	 	= #{sequence},
				tourl	 		= #{tourl}
			where 
				id = #{id}
	</update>
	
	通过id获取数据
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			*
		from 
			sys_link
		where 
			id = #{id}
	</select>
	
	删除图片
	<update id="delTp" parameterType="pd">
		update  sys_link
			set 
				stieurl			= ''
			where 
				id = #{id}
	</update>
	
	删除
	<delete id="delete" parameterType="pd">
		delete from sys_link 
		where 
			id = #{id}
	</delete> -->
	<select id="getActivityContestantId" resultType="pd">
		select
				a.activity_contestant_id
		from
				activity_contestant a 
		where   
				a.ac_isdelete = 1 
		order by 
				a.activity_contestant_id desc limit 1
	</select>
	<update id="deleteContestantById" parameterType="pd">
		update  activity_contestant
			set 
				ac_isdelete = -1
		where 
				activity_contestant_id = #{activity_contestant_id}
	</update>
</mapper>