<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NewsDataMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into news_data(
			nd_type,	
			nd_content,	
			nd_img_width,	
			nd_img_height,	
			nd_img_size,	
			news_id,	
			nd_create_datetime
		) values (
			#{nd_type},	
			#{nd_content},	
			#{nd_img_width},	
			#{nd_img_height},	
			#{nd_img_size},	
			#{news_id},	
			now()
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from news_data
		where 
			news_id = #{news_id}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  news_data
			set 
				nd_type = #{nd_type},
				nd_content = #{nd_content},
				nd_img_width = #{nd_img_width},
				nd_img_height = #{nd_img_height},
				nd_img_size = #{nd_img_size},
			where 
				news_data_id = #{news_data_id}
	</update>
	<update id="edit_isDelete" parameterType="pd">
		update 
			news_data
		set
			nd_isdelete = '-1'
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			nd_type,	
			nd_content,	
			nd_img_width,	
			nd_img_height,	
			nd_img_size,	
			news_id,	
			nd_isdelete,	
			nd_create_datetime,	
			nd_update_datetime,	
			news_data_id
		from 
			news_data
		where 
			news_data_id = #{new_sdata_id}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.nd_type,	
				a.nd_content,	
				a.nd_img_width,	
				a.nd_img_height,	
				a.nd_img_size,	
				a.news_id,	
				a.nd_isdelete,	
				a.nd_create_datetime,	
				a.nd_update_datetime,	
				a.news_data_id
		from 
				news_data a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.nd_type,	
				a.nd_content,	
				a.nd_img_width,	
				a.nd_img_height,	
				a.nd_img_size,	
				a.news_id,	
				a.nd_isdelete,	
				a.nd_create_datetime,	
				a.nd_update_datetime,	
				a.news_data_id
		from 
				news_data a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from news_data
		where 
			news_data_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>