<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NewsMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into news(
			n_title,	
			n_intro,	
			n_antistop,	
			n_source,	
			n_source_url,	
			n_carousel,	
			n_top,	
			n_examine_status,	
			channel_id,	
			n_subtitle,	
			n_create_datetime,
			n_img_name,
			n_img_width,
			n_img_height,
			n_img_size,
			n_operating_user,
			n_examine_user,
			n_cut_img_x1,
			n_cut_img_y1,
			n_cut_img_x2,
			n_cut_img_y2,
			n_currentTimeMillis,
			n_news_data_list,
			n_update_date
		) values (
			#{n_title},	
			#{n_intro},	
			#{n_antistop},	
			#{n_source},	
			#{n_source_url},	
			#{n_carousel},	
			#{n_top},	
			#{n_examine_status},	
			#{channel_id},	
			#{n_subtitle},	
			now(),
			#{n_img_name},
			#{n_img_width},
			#{n_img_height},
			#{n_img_size},
			#{n_operating_user},
			#{n_examine_user},
			#{n_cut_img_x1},
			#{n_cut_img_y1},
			#{n_cut_img_x2}, 
			#{n_cut_img_y2},
			#{n_currentTimeMillis},
			#{n_news_data_list},
			curdate()
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from news
		where 
			news_id = #{news_id}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  news
			set 
				n_title = #{n_title},
				n_intro = #{n_intro},
				n_antistop = #{n_antistop},
				n_source = #{n_source},
				n_source_url = #{n_source_url},
				n_carousel = #{n_carousel},
				n_top = #{n_top},
				n_examine_status = #{n_examine_status},
				channel_id = #{channel_id},
				n_subtitle = #{n_subtitle},
				n_img_name = #{n_img_name},
				n_img_width = #{n_img_width},
				n_img_height = #{n_img_height},
				n_img_size = #{n_img_size},
				n_operating_user = #{n_operating_user},
				n_examine_user = #{n_examine_user},
				n_cut_img_x1 = #{n_cut_img_x1},
				n_cut_img_y1 = #{n_cut_img_y1},
				n_cut_img_x2 = #{n_cut_img_x2},
				n_cut_img_y2 = #{n_cut_img_y2},
				n_news_data_list = #{n_news_data_list},
				n_update_date = curdate()
			where 
				news_id = #{news_id}
	</update>
	<update id="edit_isDelete" parameterType="pd">
		update  news
			set 
				n_isdelete = #{n_isdelete}
		where 
				news_id = #{news_id}
	</update>
	<update id="update_top" parameterType="pd">
		update	
			news
		set
			n_top = 1,
			n_update_date = curdate(),
			n_currentTimeMillis = #{n_currentTimeMillis}
		where
			news_id = #{news_id}
	</update>
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select
				*
		from
				news 
		where
				news_id = #{news_id}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.*,
				b.c_name
		from 
				news a inner join channel b on a.channel_id=b.channel_id
		where b.c_type='1' and a.n_isdelete = '1'
		<if test="pd.n_title !=null">
				and a.n_title like concat(concat('%', #{pd.n_title}),'%')
		</if>
		<if test="pd.channel_id >0">
				and a.channel_id = #{pd.channel_id}
		</if>
		order by a.n_update_date desc,a.n_top desc,a.n_update_datetime desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				*
		from 
				news
		where n_isdelete = 1
	</select>
	<select id="getNewsId" resultType="pd">
		select
				a.news_id
		FROM
				news a 
		where   
				a.n_isdelete = 1 and n_img_name=#{n_img_name} and n_currentTimeMillis=#{n_currentTimeMillis}
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from news
		where 
			news_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>