<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AccDetailMapper">

     <!-- 新增 -->
    <insert id="save" parameterType="pd">
        insert into tb_acc_detail 
        (
        user_code,
        sub_accno,
        bouns_source1,
        bouns_source2,
        rela_usercode,
        rela_userlevel,
        amnt,
        caldate,
        cntflag,
        status,
        syscode,
        create_time,
        modify_time,
        operator
        )       
        select 
        a.user_code,
        #{sub_accno},
        #{bouns_source1},
        #{bouns_source2},
        recomuser_code,
        a.rela_level,
         case        
         when a.rela_level ='A' and c.levcnt =#{nedleva}   then #{tjgm1}*(select sum(e1.txamnt) from tb_trade_detail e1,tb_user_friendship a1 where a1.user_code =a.user_code and e1.user_code = a1.recomuser_code and a1.rela_level='A'  and e1.`status` ='1' )
         when a.rela_level ='A' and c.levcnt &lt;#{nedleva}   then  0
         when a.rela_level ='A' and c.levcnt &gt;#{nedleva}   then  b.txamnt*#{tjgm1}        
         when a.rela_level='B'  and c.levcnt =#{nedlevb}   then #{tjgm2}*(select sum(e2.txamnt) from tb_trade_detail e2,tb_user_friendship a2 where a2.user_code =a.user_code and e2.user_code = a2.recomuser_code  and a2.rela_level='B'  and e2.`status` ='1' )
         when a.rela_level='B'  and c.levcnt &lt;#{nedlevb} then 0
         when a.rela_level='B'  and c.levcnt &gt;#{nedlevb} then b.txamnt*#{tjgm2} 
         when a.rela_level='C'  and c.levcnt =#{nedlevc}   then #{tjgm3}*(select sum(e3.txamnt) from tb_trade_detail e3,tb_user_friendship a3 where a3.user_code =a.user_code and e3.user_code = a3.recomuser_code and a3.rela_level='C'  and e3.`status` ='1' )
         when a.rela_level='C'  and c.levcnt &lt;#{nedlevc} then 0
         when a.rela_level='C'  and c.levcnt &gt;#{nedlevc} then b.txamnt*#{tjgm3}
         end amnt,
        now(),
        '',
        '1',
        a.syscode,
        now(),
        now(),
        #{operator}
        from 
        tb_user_friendship a,
		tb_trade_detail b,
		(
		  select m1.user_code,m1.rela_level,count(distinct m1.recomuser_code) levcnt from  tb_user_friendship m1 , tb_trade_detail d1,
		  (select e.user_code,e.rela_level  from tb_trade_detail d ,tb_user_friendship e 
		  where d.id =#{id} 
		  and d.user_code = e.recomuser_code) m2
		  where m1.user_code = m2.user_code
		  and m1.recomuser_code = d1.user_code
		  and m1.rela_level = m2.rela_level
		  group by m1.user_code,m1.rela_level
		  ) c
		WHERE
			a.recomuser_code = b.user_code
		  and a.user_code = c.user_code
		  and a.rela_level = c.rela_level
		AND b.id =#{id}
    </insert>
    
    <update id="testTriger" parameterType="pd">
        UPDATE tb_acc_detail SET amnt = amnt + 10 WHERE sub_accno = '010101' AND user_code = '10000000001'
    </update>
</mapper>