<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AccDetailMapper">

     <!-- 新增 -->
    <insert id="save" parameterType="pd">
        insert into tb_acc_detail 
        (
        user_code,
        sub_accno,
        bouns_source1,
        bouns_source2,
        rela_usercode,
        rela_userlevel,
        amnt,
        caldate,
        cntflag,
        status,
        syscode,
        create_time,
        modify_time,
        operator
        )       
        select 
        a.user_code,
        #{sub_accno},
        #{bouns_source1},
        #{bouns_source2},
        recomuser_code,
        a.rela_level,
         case        
         when a.rela_level ='A' and c.levcnt =#{nedleva}   then  b.txnum*#{tjgm1}*#{nedleva}
         when a.rela_level ='A' and c.levcnt &lt;#{nedleva}   then  0
         when a.rela_level ='A' and c.levcnt &gt;#{nedleva}   then  b.txnum*#{tjgm1}        
         when a.rela_level='B' and c.levcnt =#{nedlevb} then b.txnum*#{tjgm2}*#{nedlevb}
         when a.rela_level='B' and c.levcnt &lt;#{nedlevb} then 0
         when a.rela_level='B' and c.levcnt &gt;#{nedlevb} then b.txnum*#{tjgm2} 
         when a.rela_level='C' and c.levcnt =#{nedlevc} then b.txnum*#{tjgm3}*#{nedlevc}
         when a.rela_level='C' and c.levcnt &lt;#{nedlevc} then 0
         when a.rela_level='C' and c.levcnt &gt;#{nedlevc} then b.txnum*#{tjgm3}
         end amnt,
        now(),
        '',
        '1',
        a.syscode,
        now(),
        now(),
        #{operator}
        from tb_user_friendship a,tb_trade_detail b,tb_user_levelcnt c
        where a.recomuser_code = b.user_code
        and a.user_code = c.user_code
        and a.rela_level= c.rela_level
        and b.id =#{id}
    </insert>
    <!-- <select id="selectLevReward">
       select 
         a.user_code,
         case        
	         when a.rela_level ='A' and c.levcnt =#{nedleva}   then  b.txnum*#{tjgm1}*#{nedleva}
	         when a.rela_level ='A' and c.levcnt &lt;#{nedleva}   then  0
	         when a.rela_level ='A' and c.levcnt &gt;#{nedleva}   then  b.txnum*#{tjgm1}        
	         when a.rela_level='B' and c.levcnt =#{nedlevb} then b.txnum*#{tjgm2}*#{nedlevb}
	         when a.rela_level='B' and c.levcnt &lt;#{nedlevb} then 0
	         when a.rela_level='B' and c.levcnt &gt;#{nedlevb} then b.txnum*#{tjgm2} 
	         when a.rela_level='C' and c.levcnt =#{nedlevc} then b.txnum*#{tjgm3}*#{nedlevc}
	         when a.rela_level='C' and c.levcnt &lt;#{nedlevc} then 0
	         when a.rela_level='C' and c.levcnt &gt;#{nedlevc} then b.txnum*#{tjgm3}
         end amnt,
        from tb_user_friendship a,tb_trade_detail b,tb_user_levelcnt c
        where a.recomuser_code = b.user_code
        and a.user_code = c.user_code
        and a.rela_level= c.rela_level
        and b.id =#{id}
    </select> -->
    <update id="testTriger" parameterType="pd">
        UPDATE tb_acc_detail SET amnt = amnt + 10 WHERE sub_accno = '010101' AND user_code = '10000000001'
    </update>
</mapper>