<?xml version="1.0" encoding="UTF-8" ?>  
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserDetail">
    
     <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
         id,user_code,user_name,phone,real_name,idno,crop_name,crop_person,branch_name,wxnum,bankaccno,mail_addrss,zip_code,ref_phone,
         img_addrss,qr_code,user_type,real_stat,create_time,modify_time,operator
    </sql>
      
	<select id="findByUserCode" parameterType="pd" resultMap="pd" >
        select 
         <include refid="Base_Column_List" />
        from tb_user_detail  where user_code = #{user_code}
    </select>
    <!-- 用户列表(用户组) -->
    <select id="userbuylistPage" parameterType="page" resultType="pd">
        select 
        id,
        user_code,
        user_name,phone,
        real_name,
        wxnum,
        bankaccno,
        mail_addrss,
        zip_code,
        user_type,
        buy_flag
        from tb_user_detail u
        where 1=1
        <if test="pd.phone != null and pd.phone != ''"><!-- 关键词检索 -->
            and  u.phone like CONCAT(CONCAT('%', #{pd.phone}),'%')          
        </if>
        order by u.modify_time desc
    </select>
    <update id="updatebuyflag" parameterType="pd">    
         update tb_user_detail 
         <set> 
                buy_flag = #{buy_flag},
                modify_time = now(),
           <if test="operator != null and operator != ''">
                operator = #{operator}
           </if>     
         </set>
         where user_code = #{user_code}     
     </update>
     
     <select id="getUserDetail" parameterType="pd" resultType="pd">
        select 
        <include refid="Base_Column_List" />
        from tb_user_detail
        where id=#{id}
     </select>
    
</mapper>     